// [x-cloak] {
//     display: none;
// }
.text-smeps-yellow-900 {
    --tw-text-opacity: 1;
    color: rgba(120,53,15,var(--tw-text-opacity));
}
.bg-smeps-yellow-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(245,126,37,var(--tw-bg-opacity));
}
.border-smeps-yellow-200 {
    --tw-border-opacity: 1;
    border-color: rgba(245,126,37, var(--tw-border-opacity));
}
.text-smeps-green-900 {
    --tw-text-opacity: 1;
    color: rgba(77, 183, 72,var(--tw-text-opacity));
}
.bg-smeps-green-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(77, 183, 72,var(--tw-bg-opacity));
}
.border-smeps-green-200 {
    --tw-border-opacity: 1;
    border-color: rgba(77, 183, 72, var(--tw-border-opacity));
}
